services:
  db-migrator:
    image: ghcr.io/mycrocloud/mycrocloud-db-migrator:main
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
    volumes:
      - ./Services/WebApp/WebApp.Migrations/appsettings.json:/db-migrator/appsettings.json:ro

  seq:
    image: datalust/seq
    volumes:
      - seq-data:/data
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORDHASH=QP3ZwBGCUn+Ija3VuMpr3OAzeWmNgYRh/TxaA3V9hOWUQHiL5fA3g3SQjYi/Q7W6co8ui1CO3pZQh5TfxJU511iqGOQRxrKSCd+2kSJcddf9

  web:
    image: ghcr.io/mycrocloud/mycrocloud-web:main
    volumes:
      - ./Web/.env:/usr/share/nginx/html/.env:ro

  api:
    image: ghcr.io/mycrocloud/mycrocloud-api:main
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__RabbitMq=${ConnectionStrings__RabbitMq}
      - ExternalIntegrations__GitHubApp__WebhookSecret=${ExternalIntegrations__GitHubApp__WebhookSecret}
      - Elasticsearch__Password=${Elasticsearch__Password}
      - OAuthApps__Slack__ClientSecret=${OAuthApps__Slack__ClientSecret}
    volumes:
      - ./Services/WebApp/WebApp.Api/appsettings.json:/app/appsettings.json:ro
      - ./Services/WebApp/WebApp.Api/gha-mycrocloud.pem:/app/gha-mycrocloud.pem:ro

  apigateway:
    image: ghcr.io/mycrocloud/mycrocloud-apigateway:main
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__Redis=${ConnectionStrings__Redis}
    volumes:
      - ./Services/WebApp/WebApp.ApiGateway/appsettings.json:/app/appsettings.json:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/function-data:/srv/function-data
      
  lb:
    image: nginx:mainline-alpine3.18-perl
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./lb/conf.d:/etc/nginx/conf.d:ro
      - ./lb/certs:/etc/nginx/certs:ro
      - ./lb/includes:/etc/nginx/includes:ro
      - ./lb/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
    - web
    - web-editor
    - api
    - apigateway

  web-editor:
    image: ghcr.io/mycrocloud/mycrocloud-web-editor:main

networks:
  default:
    name: mycrocloud
    ipam:
      config:
        - subnet: 172.18.0.0/16 


volumes:
  seq-data:
