# Base configuration - Common services
services:
  db-migrator:
    env_file:
      - .env

  api:
    env_file:
      - .env

  gateway:
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
