services:
  db:
    image: postgres:16.2-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  db-migrator:
    image: mycrocloud-db-migrator
    build:
      dockerfile: WebApp.Migrations/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
    depends_on:
      - db

  api:
    image: mycrocloud-api
    build:
      dockerfile: Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__RabbitMq=${ConnectionStrings__RabbitMq}
      - OAuthApps__Slack__ClientSecret=${OAuthApps__Slack__ClientSecret}
      - OAuthApps__GitHub__ClientSecret=${OAuthApps__GitHub__ClientSecret}
      - Slack__SigningSecret=${Slack__SigningSecret}
      - Slack__LinkSecret=${Slack__LinkSecret}
      - Storage__S3__AccessKey=${Storage__S3__AccessKey}
      - Storage__S3__SecretKey=${Storage__S3__SecretKey}
    ports:
      - "8080:8080"
    volumes:
      - "./Api/gha-mycrocloud.private-key.pem:/app/gha-mycrocloud.private-key.pem:ro"
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  gateway:
    image: mycrocloud-gateway
    build:
      dockerfile: WebApp.Gateway/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - Storage__S3__AccessKey=${Storage__S3__AccessKey}
      - Storage__S3__SecretKey=${Storage__S3__SecretKey}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/function-data:/tmp/function-data
    ports:
      - "8081:8080"

  seq:
    image: datalust/seq
    ports:
      - "8000:80"
      - "5341:5341"
    environment:
      - ACCEPT_EULA=Y
      # 7Wy6ttuopDvTau
      - SEQ_FIRSTRUN_ADMINPASSWORDHASH=QDFtcJLYGKj1Ir6xyrydGr+u6tYcTn33xd4WCe629b6cPQgPXs3UaCYyWkzJaJAyTqNgG89fdTfjF9LQYDkqvdiMsudVmoPJc1Ho3WT0j98w
    volumes:
      - seq_data:/data
    #restart: "unless-stopped"

  redis:
    image: redis:alpine3.21
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "check_running" ]
      interval: 1s
      timeout: 2s
      retries: 5
      
  function-invoker:
    image: mycrocloud-function-invoker
    build:
      context: .
      dockerfile: WebApp.FunctionInvoker/Dockerfile
    volumes:
      - ./WebApp.FunctionInvoker/data:/app/data
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 64M
          pids: 100
    profiles:
      - function-invoker

volumes:
  db_data:
  seq_data:
