services:
  db:
    image: postgres:16.2-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  db-migrator:
    image: mycrocloud/db-migrator
    build:
      dockerfile: WebApp.Migrations/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
    depends_on:
      - db

  api:
    image: mycrocloud/api
    build:
      dockerfile: WebApp.Api/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__RabbitMq=${ConnectionStrings__RabbitMq}
      - OAuthApps__Slack__ClientSecret=${OAuthApps__Slack__ClientSecret}
      - OAuthApps__GitHub__ClientSecret=${OAuthApps__GitHub__ClientSecret}
    ports:
      - "8080:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
  
  slack-integration-api:
    image: mycrocloud/slack-integration-api
    build:
      dockerfile: WebApp.SlackIntegrationApi/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__RabbitMq=${ConnectionStrings__RabbitMq}
      - Slack__SigningSecret=${Slack__SigningSecret}
      - Slack__LinkSecret=${Slack__LinkSecret}
    ports:
      - "8082:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  apigateway:
    image: mycrocloud/apigateway
    build:
      dockerfile: WebApp.ApiGateway/Dockerfile
    ports:
      - "8081:8080"

  seq:
    image: datalust/seq
    ports:
      - "8000:80"
      - "5341:5341"
    environment:
      - ACCEPT_EULA=Y
      # 7Wy6ttuopDvTau
      - SEQ_FIRSTRUN_ADMINPASSWORDHASH=QDFtcJLYGKj1Ir6xyrydGr+u6tYcTn33xd4WCe629b6cPQgPXs3UaCYyWkzJaJAyTqNgG89fdTfjF9LQYDkqvdiMsudVmoPJc1Ho3WT0j98w
    volumes:
      - seq_data:/data
    #restart: "unless-stopped"

  redis:
    image: redis:alpine3.21

  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "check_running" ]
      interval: 5s
      timeout: 10s
      retries: 5

volumes:
  db_data:
  seq_data:
