# Base configuration - Common services
services:
  db-migrator:
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}

  api:
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__RabbitMq=${ConnectionStrings__RabbitMq}
      - OAuthApps__Slack__ClientSecret=${OAuthApps__Slack__ClientSecret}
      - OAuthApps__GitHub__ClientSecret=${OAuthApps__GitHub__ClientSecret}
      - Slack__SigningSecret=${Slack__SigningSecret}
      - Slack__LinkSecret=${Slack__LinkSecret}
      - Storage__S3__AccessKey=${Storage__S3__AccessKey}
      - Storage__S3__SecretKey=${Storage__S3__SecretKey}

  gateway:
    environment:
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - Storage__S3__AccessKey=${Storage__S3__AccessKey}
      - Storage__S3__SecretKey=${Storage__S3__SecretKey}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
