name: mycrocloud
include:
  - ./monitoring/compose.yml
  - ./webapp/compose.yml
services:
  lb:
    image: nginx:mainline-alpine3.18-perl
    ports:
      - "443:443"
    environment:
      - CONTROL_PLANE_DOMAIN=${CONTROL_PLANE_DOMAIN:-mycrocloud.info}
      - DATA_PLANE_DOMAIN=${DATA_PLANE_DOMAIN:-mycrocloud.info}
    volumes:
      - ./lb/templates/conf.d:/etc/nginx/templates:ro
      - ./lb/certs:/etc/nginx/certs:ro
      - ./lb/includes:/etc/nginx/includes:ro
      - ./lb/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
      - api
      - gateway
    restart: unless-stopped
  api:
    image: ghcr.io/mycrocloud/mycrocloud-api:main
    volumes:
      - "./api/appsettings.json:/app/appsettings.json:ro"
      - "./api/gha-mycrocloud.private-key.pem:/app/gha-mycrocloud.private-key.pem:ro"
    env_file:
      - ./api/.env
    restart: unless-stopped
  db-migrator:
    image: ghcr.io/mycrocloud/mycrocloud-db-migrator:main
    volumes:
      - "./dbmigrator/appsettings.json:/db-migrator/appsettings.json:ro"
    env_file:
      - ./dbmigrator/.env
    restart: "no"
  web:
    image: ghcr.io/mycrocloud/mycrocloud-web:main
    volumes:
      - ./web/dotenv:/usr/share/nginx/html/.env:ro
    restart: unless-stopped