{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware": "Information",
      "Microsoft.EntityFrameworkCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "{{ secrets.ConnectionStrings__DefaultConnection }}"
  },
  "DockerFunctionExecution": {
    "Uri": "unix:///var/run/docker.sock",
    "Image": "ghcr.io/mycrocloud/mycrocloud-function-invoker:main",
    "HostFilePath": "/srv/function-data",
    "FetchProxy": ""
  },
  "AppNameSource": "Header:X-App-Name",
  "Host": "apigw.mycrocloud.site",
  "Proxy": {
    "Subnet": "172.18.0.0/16"
  },
  "Storage": {
    "Type": "S3",
    "S3": {
      "BucketName": "mycrocloud-deployments",
      "AccessKey": "{{ secrets.Storage__S3__AccessKey }}",
      "SecretKey": "{{ secrets.Storage__S3__SecretKey }}",
      "ServiceURL": "https://65ae2386e91a9f75748e1730c6885c33.r2.cloudflarestorage.com"
    }
  }
}
