public_key = "your_public_key"
cloudflare_zone_id = "your_cloudflare_zone_id"
cloudflare_api_token = "your_cloudflare_api_token"
web_origin                           = ["https://mycrocloud.info"]
auth0_domain = "your_auth0_domain"
auth0_client_id = "your_auth0_client_id"
auth0_client_secret = "your_auth0_client_secret"
auth0_github_oauth_app_client_id = "auth0_github_oauth_app_client_id"
auth0_github_oauth_app_client_secret = "auth0_github_oauth_app_client_secret"
auth0_google_oauth_app_client_id = "auth0_google_oauth_app_client_id"
auth0_google_oauth_app_client_secret = "auth0_google_oauth_app_client_secret"