cloudflare_control_plane_zone_id = "your_control_plane_zone_id"
cloudflare_data_plane_zone_id = "your_data_plane_zone_id"
cloudflare_api_token = "your_cloudflare_api_token"
auth0_client_secret = "your_auth0_client_secret"
auth0_github_oauth_app_client_secret = "auth0_github_oauth_app_client_secret"
auth0_google_oauth_app_client_secret = "auth0_google_oauth_app_client_secret"

grafana_cloud_enabled = false
grafana_cloud_stack_slug = "your_grafana_cloud_stack_slug"
grafana_cloud_access_policy_token = "your_grafana_cloud_access_policy_token"
grafana_cloud_loki_url = "https://logs-prod-your-region.grafana.net/loki/api/v1/push"
grafana_cloud_loki_username = "your_loki_username"
grafana_cloud_cluster = "mycrocloud-prod"
grafana_cloud_environment = "production"
