{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware": "Information",
      "Microsoft.EntityFrameworkCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Authentication": {
    "Schemes": {
      "Auth0JwtBearer": {
        "Authority": "https://auth.mycrocloud.online",
        "Audience": "mycrocloud-api"
      }
    }
  },
  "ExternalIntegrations": {
    "Slack": {
      "ClientId": "8036520278803.9793652228354",
      "ClientSecret": "{{ secrets.slack_client_secret }}",
      "SigningSecret": "{{ secrets.slack_signing_secret }}",
      "LinkSecret": "{{ secrets.slack_link_secret }}"
    },
    "GitHub": {
      "AppId": "2285366",
      "PrivateKeyPath": "gha-mycrocloud.private-key.pem",
      "WebhookSecret": "{{ secrets.github_webhook_secret }}"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "{{ secrets.db_connection_string }}",
    "PubSub": "{{ secrets.db_pubsub_connection_string }}"
  },
  "Build": {
    "BuilderImageTemplate": "ghcr.io/mycrocloud/mycrocloud-spa-builder:node{version}"
  },
  "Cors": {
    "AllowedOrigins": "https://mycrocloud.online"
  },
  "Storage": {
    "Type": "S3",
    "S3": {
      "BucketName": "mycrocloud-deployments",
      "AccessKey": "{{ secrets.s3_access_key }}",
      "SecretKey": "{{ secrets.s3_secret_key }}",
      "ServiceURL": "https://65ae2386e91a9f75748e1730c6885c33.r2.cloudflarestorage.com"
    }
  },
  "WebOrigin": "https://mycrocloud.online"
}
