services:
  worker:
    image: ghcr.io/mycrocloud/mycrocloud-deployment-worker:main
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AUTH0_SECRET=${AUTH0_SECRET}
    volumes:
      - ./worker/.conf:/app/.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/build-outputs:/tmp/build-outputs
      
  fluentd:
    image: ghcr.io/mycrocloud/mycrocloud-deployment-fluentd:main
    environment:
      - ES_HOST=mycrocloud-746164292.us-east-1.bonsaisearch.net
      - ES_USER=obg41vpb50
      - ES_PASSWORD=${ES_PASSWORD}
      - RABBITMQ_URL=${RABBITMQ_URL}
    ports:
      - "24224:24224"
    volumes:
      - ./fluentd/conf:/fluentd/etc:ro