# Base configuration - Common services
services:
  db-migrator:
    env_file:
      - ../api/Api/.env

  api:
    env_file:
      - ../api/Api/.env

  gateway:
    env_file:
      - ./gateway/.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
