services:
  worker:
    image: ghcr.io/mycrocloud/mycrocloud-deployment-worker:main
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AUTH0_SECRET=${AUTH0_SECRET}
      - ES_PASSWORD=${ES_PASSWORD}
      - HOST_OUT_DIR=/srv/build-outputs
    volumes:
      - ./worker/.conf:/.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/build-outputs:/srv/build-outputs

  fluentd:
    image: ghcr.io/mycrocloud/mycrocloud-deployment-fluentd:main
    environment:
      - ES_HOST=mycrocloud-746164292.us-east-1.bonsaisearch.net
      - ES_USER=obg41vpb50
      - ES_PASSWORD=${ES_PASSWORD}

    volumes:
      - ./fluentd/conf:/fluentd/etc:ro
    ports:
      - "24224:24224"
      - "24224:24224/udp"
