services:
  worker:
    image: ghcr.io/mycrocloud/mycrocloud-deployment-worker:main
    container_name: mycrocloud-deployment-worker
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AUTH0_SECRET=${AUTH0_SECRET}
      - ES_PASSWORD=${ES_PASSWORD}
    volumes:
      - ./worker.conf:/.conf:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/build-outputs:/build-outputs

  fluentd:
    image: ghcr.io/mycrocloud/mycrocloud-deployment-fluentd:main
    environment:
      - ES_HOST=mycrocloud-6595046855.us-east-1.bonsaisearch.net
      - ES_USER=2t9zi8my5c
      - ES_PASSWORD=${ES_PASSWORD}

    volumes:
      - ./fluentd/conf:/fluentd/etc:ro
    ports:
      - "24224:24224"
      - "24224:24224/udp"
