name: deployment
services:
  worker:
    build: ./worker
    image: mycrocloud-deployment-worker:main
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AUTH0_SECRET=${AUTH0_SECRET}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./worker/.conf:/app/.env:ro
      - /tmp/build-outputs:/tmp/build-outputs
    depends_on:
      - fluentd

  fluentd:
    image: mycrocloud-deployment-fluentd:main
    build: ./fluentd
    environment:
      - ES_HOST=localhost
      - ES_USER=elastic
      - ES_PASSWORD=changeme
      - RABBITMQ_URL=${RABBITMQ_URL}
    volumes:
      - ./fluentd/conf:/fluentd/etc
    ports:
      - "24224:24224"
    depends_on:
      rabbitmq:
        condition: service_healthy

  builder:
    image: mycrocloud-deployment-builder:main
    build: ./builder
    labels:
      - build_id=73318fcf-8d1e-4716-9106-2ae681e79e6d
    environment:
      - REPO_URL=https://github.com/mycrocloud/sample-react-app
      - WORK_DIR=.
      - OUT_DIR=dist
      - INSTALL_CMD=npm install
      - BUILD_CMD=npm run build
    logging:
      driver: "fluentd"
      options:
        fluentd-address: host.docker.internal:24224
        tag: app.builder
        labels: build_id
    depends_on:
      - worker
      - fluentd

  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 5s
      timeout: 10s
      retries: 5

  # es:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
  #   environment:
  #     - discovery.type=single-node
  #   ports:
  #     - "9200:9200"