services:
  # rabbitmq:
  #   image: rabbitmq:management
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"
  #   environment:
  #     RABBITMQ_DEFAULT_USER: guest
  #     RABBITMQ_DEFAULT_PASS: guest
  #   healthcheck:
  #     test: "rabbitmq-diagnostics -q ping"
  #     interval: 5s
  #     timeout: 30s
  #     retries: 5
  #     start_period: 30s

  worker:
    build:
      context: ./worker
    image: mycrocloud/deployment-worker
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AUTH0_SECRET=${AUTH0_SECRET}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - ES_PASSWORD=${ES_PASSWORD}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/build-outputs:/output

  fluentd:
    build: ./fluentd
    image: mycrocloud/deployment-fluentd
    volumes:
      - ./fluentd/conf:/fluentd/etc:ro
    ports:
      - "24224:24224"
