services:
  worker:
    build:
      context: ./worker
    image: mycrocloud/deployment-worker
    user: root
    environment:
      - RABBITMQ_URL=${RABBITMQ_URL}
      - AUTH0_SECRET=${AUTH0_SECRET}
      - ES_PASSWORD=${ES_PASSWORD}
      - HOST_OUT_DIR=/srv/build-outputs
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      #- ./worker/.conf:/app/.env:ro
      - ./.build-outputs:/srv/build-outputs
    depends_on:
      rabbitmq:
        condition: service_healthy
  
  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "check_running" ]
      interval: 5s
      timeout: 10s
      retries: 5

  fluentd:
    build: ./fluentd
    image: mycrocloud/deployment-fluentd
    volumes:
      - ./fluentd/conf:/fluentd/etc:ro
    ports:
      - "24224:24224"
