name: CI/CD Api

on:
  push:
    branches:
      - main
    paths:
      - "src/Services/WebApp/WebApp.Domain/**"
      - "src/Services/WebApp/WebApp.Infrastructure/**"
      - "src/Services/WebApp/Api/**"

  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: ./.github/workflows/_build-deploy.yml
    with:
      image-name: ${{ github.repository }}-api
      work-dir: src/Services/WebApp
      dockerfile: Api/Dockerfile
      service: api
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
