name: CI/CD Database

on:
  push:
    branches:
      - main
    paths:
      - "src/pkg/api/Api.Domain/**"
      - "src/pkg/api/Api.Infrastructure/**"
      - "src/pkg/api/Api.Migrations/**"

  workflow_dispatch:

jobs:
  test-migrations:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:16.2-alpine
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.201

      - name: Run test
        env:
          ConnectionStrings__DefaultConnection: "Host=localhost;Port=5432;Database=mycrocloud;Username=postgres;Password=postgres"
        run: dotnet test src/pkg/api/Api.MigrationTest

  build-and-deploy:
    needs: test-migrations
    uses: ./.github/workflows/_build-deploy.yml
    permissions:
      id-token: write
      contents: read
    with:
      image-name: ${{ github.repository }}-db-migrator
      work-dir: src/pkg/api
      dockerfile: Api.Migrations/Dockerfile
      service: db-migrator
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
