name: CI/CD Database

on:
  push:
    branches:
      - main
    paths:
      - "src/Services/WebApp/Api.Domain/**"
      - "src/Services/WebApp/Api.Infrastructure/**"
      - "src/Services/WebApp/Api.Migrations/**"

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-db-migrator
  WORK_DIR: src/Services/WebApp

jobs:
  test-migrations:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:16.2-alpine
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.201

      - name: Run test
        env:
          ConnectionStrings__DefaultConnection: "Host=localhost;Port=5432;Database=mycrocloud;Username=postgres;Password=postgres"
        run: dotnet test src/Services/WebApp/Api.MigrationTest

  build-and-push-image:
    needs: test-migrations
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
    concurrency:
      group: build-${{ github.repository }}-db-migrator
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.WORK_DIR }}
          file: ${{ env.WORK_DIR }}/Api.Migrations/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    permissions:
      id-token: write
      contents: read
    if: ${{ github.ref == 'refs/heads/main' }}
    concurrency:
      group: deploy-default-db-migrator
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy
        uses: ./.github/actions/deploy-action
        if: ${{ vars.SSH_DOCKER_DEPLOY == 'true' }}
        with:
          ssh-host: ${{ vars.SSH_HOST }}
          ssh-username: ${{ vars.SSH_USERNAME }}
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          service: db-migrator
          aws-iam-role: ${{ vars.AWS_IAM_ROLE_GITHUB_ACTIONS_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          gh-pat: ${{ secrets.CR_PAT }}
