name: CI/CD Deployment/Worker

on:
  push:
    branches:
      - main
    paths:
      - "src/Services/WebApp/Deployment/worker/**"

  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: ./.github/workflows/_build-deploy.yml
    permissions:
      id-token: write
      contents: read
    with:
      image-name: ${{ github.repository }}-deployment-worker
      work-dir: src/Services/WebApp/Deployment/worker
      dockerfile: Dockerfile
      service: worker
      namespace: deployment
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
