name: Deploy all services

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: ${{ github.ref == 'refs/heads/main' }}
    concurrency:
      group: deploy-all
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy all services
        uses: ./.github/actions/deploy-action
        with:
          instance-id: ${{ vars.EC2_INSTANCE_ID }}
          aws-iam-role: ${{ vars.AWS_IAM_ROLE_GITHUB_ACTIONS_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          gh-pat: ${{ secrets.CR_PAT }}
