name: CI/CD Function Invoker

on:
  push:
    branches:
      - main

    paths:
      - 'src/Services/WebApp/WebApp.Domain/**'
      - 'src/Services/WebApp/WebApp.Infrastructure/**'
      - 'src/Services/WebApp/WebApp.FunctionShared/**'
      - 'src/Services/WebApp/WebApp.FunctionInvoker/**'

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-function-invoker
  WORK_DIR: src/Services/WebApp

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      full_image: ${{ steps.set_output.outputs.full_image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        uses: docker/metadata-action@v5.5.1
        id: meta
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      
      - name: Set full image output
        id: set_output
        run: |
          echo "full_image=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.version }}" >> $GITHUB_OUTPUT
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ${{env.WORK_DIR}}
          file: ${{env.WORK_DIR}}/WebApp.FunctionInvoker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            COMMIT_HASH=${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    if: ${{ github.ref == 'refs/heads/main' }}
    env:
      IMAGE: ${{ needs.build-and-push-image.outputs.full_image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Deploy
        uses: ./.github/actions/deploy-action
        if: ${{ vars.SSH_DOCKER_DEPLOY == 'true' }}

        with:
          ssh-host: ${{ vars.SSH_HOST}}
          ssh-username: ${{ vars.SSH_USERNAME }}
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          service: 'none'
          image: ${{ env.IMAGE }}