name: CI/CD Gateway

on:
  push:
    branches:
      - main
    paths:
      - "src/Services/WebApp/Api.Domain/**"
      - "src/Services/WebApp/Api.Infrastructure/**"
      - "src/Services/WebApp/WebApp.FunctionShared/**"
      - "src/Services/WebApp/WebApp.Gateway/**"

  workflow_dispatch:

jobs:
  build-and-deploy:
    uses: ./.github/workflows/_build-deploy.yml
    permissions:
      id-token: write
      contents: read
    with:
      image-name: ${{ github.repository }}-gateway
      work-dir: src/Services/WebApp
      dockerfile: WebApp.Gateway/Dockerfile
      service: gateway
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
