name: CI/CD Web Editor

on:
  push:
    branches:
      - main
    paths:
      - "src/WebEditor/**"

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-web-editor
  WORK_DIR: src/WebEditor
  VITE_PARENT_ORIGIN: https://mycrocloud.info

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
    concurrency:
      group: build-${{ github.repository }}-web-editor
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create .env file
        run: |
          echo "VITE_PARENT_ORIGIN=${{ env.VITE_PARENT_ORIGIN }}" > ${{ env.WORK_DIR }}/.env.production

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.WORK_DIR }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: |
            COMMIT_HASH=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    permissions:
      id-token: write
      contents: read
    if: ${{ github.ref == 'refs/heads/main' }}
    concurrency:
      group: deploy-default-editor
      cancel-in-progress: false

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy
        uses: ./.github/actions/deploy-action
        if: ${{ vars.SSH_DOCKER_DEPLOY == 'true' }}
        with:
          ssh-host: ${{ vars.SSH_HOST }}
          ssh-username: ${{ vars.SSH_USERNAME }}
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          service: editor
          aws-iam-role: ${{ vars.AWS_IAM_ROLE_GITHUB_ACTIONS_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          gh-pat: ${{ secrets.CR_PAT }}
